* {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    background-color: #222;
    margin: 0px;
    height: 100%;
    width: 100%;
    
    background-image: url("../assets/img/backgrounds/tami_flat_car.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #191d23;
}

::-webkit-scrollbar-thumb {
    background-color: #04a276;
    opacity: 0.5%;
}

::-webkit-scrollbar-thumb:active {
    background-color: #15b387;
}

::-webkit-scrollbar-track {
    display: none;
}

.header-wrapper {
    position: fixed;
    height: 150px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

    background-color: transparent;
    z-index: 100;

    pointer-events: none;
    
    transition: .2s;
}

.header-wrapper.scrolled {
    background-color: rgba(0,0,0,0.25);
}

.hero-wrapper, #main-nav {
    pointer-events: all;
}

/* hero */

.hero-wrapper {
    display: inline-flex;
    flex-direction: row;
    margin-left: 100px;
}

.hero-wrapper:hover {
    cursor: pointer;
}

.hero-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
}

.hero-logo img {
    height: 100px;
}

.hero-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;

    color: #eee;
}

.hero-thin {
    font-weight: 300;
    letter-spacing: 2px;
}

.hero-bold {
    font-weight: 700;
}

/* nav */

#mobile-nav-button {
    display: none;
    pointer-events: all;
}

#tap-close-wrap {
    display: none;
}

#burger {
    cursor: pointer;
}

#main-nav {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}

.nav-items {
    display: inline-flex;
    list-style: none;
}

.nav-item a {
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 400;
    color: #eee;

    transition: .1s linear;
}

.nav-item a:hover {
    color: #ddd;
}

.nav-item:nth-child(1) {
    margin-right: 24px;
}

.nav-item:nth-child(2) {
    margin-right: 12px;
}

.nav-item:nth-child(3) {
    margin-left: 12px;
}

.nav-item:nth-child(4) {
    margin-left: 24px;
}

.active + .nav-underbar {
    width: 25px;
    opacity: 1;
}

.nav-item a:hover + .nav-underbar {
    width: 25px;
    opacity: 1;
}

a.active:hover + .nav-underbar {
    width: 22px;
}

.nav-underbar {
    position: absolute;
    display: block;
    height: 3px;
    width: 0;
    opacity: 0;
    background-color: #6deeca;

    transition: .175s cubic-bezier(.5, 0, .5, 1);
}

/* music section */

#music-main {
    
}

#music-section-wrapper {
    position: relative;
    padding-top: 150px;
}

#music-inner {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.music-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.music-item {
    position: relative;
    padding: 5px;
    background-color: rgba(90, 90, 90, 0.35);
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.music-track iframe {
    height: 300px;
}

.music-desc-expand-button {
    background-color: #15b387;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: .2s;
    width: 100%;
}

.music-desc-expand-button:hover {
    background-color: #04c296;
    cursor: pointer;
}

.music-button-inner {
    margin: 0;
    color: #eee;
    padding: 7px 0px;
}

.music-desc {
    display: none;
    width: 100%;
}

.music-inner-desc {
    padding: 15px;
    color: #eee;
    
    padding: 3px;
}

#music-links {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
}

.desc-link {
    color: #26c498;
    transition: .2s;
}

.desc-link:hover {
    color: #38e6ba;
    transition: .2s;
}

#soundcloud-link p, #bandcamp-link p {
    color: #eee;
    text-decoration: none;
}

#soundcloud-link p {
    margin-top: 0;
    padding-top: 0;
}

/* other */

.mover-wrapper {
    position: relative;
    width: 100%;
    height: 54px;
    
    text-align: center;
    
    display: flex;
    justify-content: center;
}

.mover-button {
    position: absolute;
    display: contents;

    width: 250px;
    height: 50px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.button-brackets {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button-txt {
    position: relative;
    bottom: 5px;
}

.mover-link {
    color: #eee;
    font-size: 1.3em;
    letter-spacing: 2px;
}

/* footer */

#footer-wrapper {
    position: relative;
    height: 200px;
    width: 100%;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: #222;
}

.inner-footer {
    color: #eee;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;

    letter-spacing: 1px;
    font-weight: 300;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

/* mobile */ 

@media only screen and (max-device-width: 560px) {
    .header-wrapper {
        height: 8vh;
        background-color: rgba(0,0,0,0.3);
    }
    
    .hero-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    
    .hero-logo img {
       height: 7vh;
    }
    
    #mobile-nav-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        height: 7vh;
        width: 8vh;
        
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        
        border-radius: 5px;
    }
    
    #burger {
        position: relative;
        width: 90%;
        height: 60%;
        left: 50%;
        transform: translateX(-50%);
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1000;
    }
    
    .burger-piece {
        width: 100%;
        height: 6px;
        
        background-color: #eee;
    }
    
    #main-nav {
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        
        margin: 0;
        background-color: rgba(51, 47, 65, 0.95);
    }
    
    #tap-close-wrap {
        position: relative;
        top: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #nav-tap-close {
        color: #eee;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 1em;
        padding: 0;
        margin: 0;
        opacity: .5;
    }
    
    #nav-wrapper {
        position: absolute;
        top: 14.5vh;
        width: 100vw;
    }
    
    .nav-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        margin: 0;
        padding: 0;
        
        height: 25vh;
    }
    
    .nav-item:nth-child(1) {
        margin-right: 0;
    }
    
    .nav-item:nth-child(2) {
        margin-right: 0;
    }
    
    .nav-item:nth-child(3) {
        margin-left: 0;
    }
    
    .nav-item:nth-child(4) {
        margin-left: 0;
    }
    
    .nav-item a {
        color: #eee;
        font-size: 1.5em;
    }
    
    #music-section-wrapper {
        padding-top: 10vh;
    }
    
    #music-inner {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .music-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0;
    }
    
    .music-item {
        width: 95%;
        margin-bottom: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .music-track {
        height: 210px;
    }
    
    .music-track iframe {
        height: 200px;
    }
    
    #footer-wrapper {
        height: 100px;
    }
    
    .inner-footer {
        font-size: .8em;
    }
}